body{
margin:0;
font-family:Arial;
background:#070916;
color:white;
}

.center{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:#0f1325;
padding:30px;
width:320px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
background:#0b0f1f;
border:1px solid #222;
color:white;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:linear-gradient(135deg,#7c3aed,#a855f7);
border:none;
color:white;
cursor:pointer;
}

#app{
display:none;
padding:20px;
}
