body{
margin:0;
font-family:Inter, sans-serif;
background:#050816;
color:#e5e7eb;
}

/* SCREENS */
.screen{
min-height:100vh;
padding:20px;
}

/* CENTER LOGIN */
.center{
display:flex;
justify-content:center;
align-items:center;
}

/* LOGIN */
.login-box{
width:100%;
max-width:380px;
}

.login-box h1{
margin-bottom:20px;
}

/* INPUT */
input{
width:100%;
padding:14px;
margin-top:10px;
background:#0b0f1f;
border:1px solid #1f2937;
color:white;
}

/* BUTTON */
button{
width:100%;
padding:14px;
margin-top:10px;
background:#7c3aed;
border:none;
color:white;
cursor:pointer;
}

button.secondary{
background:#111827;
}

/* TOPBAR */
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.title{
font-size:20px;
font-weight:600;
}

.logout{
width:auto;
padding:8px 12px;
background:#ef4444;
}

/* LIST */
.list{
display:flex;
flex-direction:column;
gap:12px;
}

/* CATEGORY CARD */
.cat{
background:#0f1325;
padding:18px;
border:1px solid #1f2937;
border-radius:12px;
display:flex;
justify-content:space-between;
align-items:center;
cursor:pointer;
transition:0.2s;
}

.cat:hover{
background:#141a33;
}

/* PROGRESS */
.circle{
width:50px;
height:50px;
border-radius:50%;
background:#1f2937;
display:flex;
align-items:center;
justify-content:center;
font-size:13px;
}

/* PANEL */
.panel{
max-width:400px;
margin:auto;
}

/* QUIZ */
.quiz-box{
max-width:600px;
margin:auto;
}

.answer{
background:#0b0f1f;
border:1px solid #1f2937;
padding:14px;
margin-top:10px;
border-radius:8px;
}

.correct{background:#22c55e;}
.wrong{background:#ef4444;}

.progress{
height:6px;
background:#111;
margin-bottom:10px;
}

#bar{
height:100%;
background:#7c3aed;
width:0%;
}

/* HIDDEN */
.hidden{
display:none;
}
