body{
margin:0;
font-family:Arial;
background:#050816;
color:white;
}

/* CENTER LOGIN */
.center{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:#0f1325;
padding:30px;
width:320px;
}

/* INPUT */
input{
width:100%;
padding:12px;
margin-top:10px;
background:#0b0f1f;
border:1px solid #222;
color:white;
}

/* BUTTON */
button{
width:100%;
padding:14px;
margin-top:10px;
background:linear-gradient(135deg,#7c3aed,#a855f7);
border:none;
color:white;
cursor:pointer;
}

/* APP */
#app{
display:none;
padding:20px;
max-width:900px;
margin:auto;
}

/* TOPBAR */
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
}

/* DASHBOARD */
.dashboard{
text-align:center;
margin:20px 0;
}

.big-circle{
width:120px;
height:120px;
border-radius:50%;
margin:auto;
display:flex;
align-items:center;
justify-content:center;
background:#1f2937;
font-size:22px;
}

/* CATEGORIES */
.cat{
padding:15px;
margin-top:10px;
background:#0f1325;
cursor:pointer;
display:flex;
justify-content:space-between;
}

/* MODE */
#mode{display:none;margin-top:20px;}

/* QUIZ */
#quiz{display:none;margin-top:20px;}

.answer{
background:#0b0f1f;
border:1px solid #222;
padding:12px;
margin-top:10px;
}

.correct{background:#22c55e!important;}
.wrong{background:#ef4444!important;}

.progress{
height:6px;
background:#0b0f1f;
margin-bottom:10px;
}

.bar{
height:100%;
background:#7c3aed;
width:0%;
}
